.topics{
    padding: 10px;
}

.topics h1{
    font-size: 0.9em;
    font-weight: bold;
}

.topics p{
    font-size: 0.9em;
    padding-top: 5px;
    color: rgb(156, 156, 156);
}

.topics button{
    margin-top: 10px;
    background: rgb(213, 232, 250);
    border-radius: 30px;
    padding: 5px;
    font-size: 0.9em;
    font-weight: bold;
    color: blue;
}